img {
    height: 80%;
}

h1{
    margin-left: 10px;
}

.mat-toolbar {
    height: 80px;
    background: #fff;
    border-top: 5px solid orange;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mat-divider {
    height: 80%;
    width: 5px;
    margin-left: 10px;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding-top: 20px;
}